.carousel-container {
	position: relative;

	.item-background {
		max-width: 100%;
		max-height: 100%;

		width: auto;
		height: auto;

		border-radius: 8px;
	}

	.left-arrow {
		position: absolute;
		color: var(--arrow-color);
		transform: translate(0, -50%);
		top: 50%;
		left: -38px;
		padding: 8px;
		z-index: 10;
		cursor: pointer;
		transition: color 0.4s linear;

		&:hover {
			color: var(--arrow-hover-color);
		}
	}

	.right-arrow {
		position: absolute;
		color: var(--arrow-color);
		transform: translate(0, -50%);
		top: 50%;
		right: -36px;
		padding: 8px;
		z-index: 10;
		cursor: pointer;
		transition: color 0.4s linear;

		&:hover {
			color: var(--arrow-hover-color);
		}
	}

	.miniatures-container {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 8px;

		margin-top: 8px;

		transition: color 0.4s linear;

		.miniatures-item {
			cursor: pointer;
			border-radius: 4px;

			&:hover {
				opacity: 0.8;
			}

			&.active:hover {
				opacity: 0.6;
			}

			&.active {
				opacity: 0.4;
			}
		}
	}

	.dot-container {
		display: flex;
		justify-content: center;
	}

	.dot-element {
		margin: 0 3px;
		color: var(--dot-color);
		cursor: pointer;

		transition: color 0.4s linear;

		&.active {
			color: var(--dot-active-color);
		}

		&:hover {
			color: var(--dot-hover-color);
		}
	}
}
